In [1]:
import datetime

- date
- time
- timedelta => diff betn two time
- datetime => time and date together

In [13]:
d = datetime.date(2024,6,21)
print(d)
print(type(d))

2024-06-21
<class 'datetime.date'>

In [11]:
d = datetime.time(12,4,34)
print(d)

12:04:34

In [9]:
diff = datetime.timedelta(days = 90,minutes = 90)
print(diff)

90 days, 1:30:00

In [14]:
print(d + diff)

2024-09-19

In [16]:
born = datetime.date(2002,4,28)
diff = datetime.date.today()

In [17]:
age = diff - born
print(age)

8090 days, 0:00:00

In [3]:
diff = datetime.datetime.today()
print(diff)

2024-06-24 07:43:32.868482

In [19]:
born = datetime.datetime(2002,4,28,hour = 10)
diff = datetime.datetime.today()

In [22]:
age = diff - born
print(age)

8089 days, 22:00:12.775941

In [25]:
now = datetime.datetime.now()
print(now.strftime('%B'))
print(now.strftime('%a --> %d --> %B --> %Y'))

June
Fri --> 21 --> June --> 2024

- sqlite3

In [1]:
import sqlite3

In [3]:
dbc_in_file = sqlite3.connect('Ethans_db')
db_cursor = dbc_in_file.cursor()
db_cursor.execute('''create table if not exists student
    (ID int primary key ,
    NAME varchar(15),
    AGE int,
    ADDRESS varchar(50),
    SALARY real);''')
eid = 26
name = 'Tejas'
age = 23
addr = 'Chinchwad'
sal =1

query = f"""insert into student (ID,NAME,AGE,ADDRESS,SALARY) 
    values({eid},"{name}",{age},"{addr}",{sal});"""
db_cursor.execute(query)
dbc_in_file.commit()
data = db_cursor.fetchall()
print(data)
dbc_in_file.close()

OperationalError: database is locked

In [4]:
list1 = [1,2,3,4,5]
list2 = [i**2 for i in list1]
print(list2)

[1, 4, 9, 16, 25]

In [5]:
var2 = [i**2 for i in range(1,21) if i%2==0]
print(var2)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [8]:
var2 = [i**3 for i in range(1,21) if i%2==0]
print(var2)
var2 = [i**3 for i in range(1,21)]
print(var2)

[8, 64, 216, 512, 1000, 1728, 2744, 4096, 5832, 8000]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000]

In [11]:
vowels = ['a','e','i','o','u']
list1 = ['tejaa','pravin','atharva','shivangi']
lsit2 = [j[0].upper() for j in list1 if j[-1].lower() in vowels]
print(lsit2)

['T', 'A', 'S']

In [12]:
vowels = ['a','e','i','o','u']
list1 = ['tejaa','pravin','atharva','shivangi']
lsit2 = {j:j[0].upper() for j in list1 if j[-1].lower() in vowels}
print(lsit2)

{'tejaa': 'T', 'atharva': 'A', 'shivangi': 'S'}