In [12]:
name = ['Tejas','patil','SBUP']
for i in name:
    print(i)

Tejas
patil
SBUP

In [13]:
name = 'Tejas'
for i in name:
    print(i.split())

['T']
['e']
['j']
['a']
['s']

In [48]:
num = [1,2,3,4,5]
for i in num:
    print(i*'*')

*
**
***
****
*****

In [68]:
num = [1,3,5]
width = 7
for i in num:
    pattern = '*' * i
    print(pattern.center(width))
print('|'.center(width))

   *
  ***
 *****
   |

In [70]:
#Note :Range

In [72]:
test = list(range(1,6))
print(test)

[1, 2, 3, 4, 5]

In [74]:
test = list(range(4,41,4)[::-1])
print(test)

[40, 36, 32, 28, 24, 20, 16, 12, 8, 4]

In [7]:
width = 20
for i in range(1,7):
    pattern = ' &' * i 
    print(pattern.center(width))

          &
         & &
        & & &
       & & & &
      & & & & &
     & & & & & &

In [6]:
name = ['tejas','pravin','python']
print(id(name))
for name in name:
    print(len(name))
    print(id(name))

1830092613504
5
1830092692128
6
1830092692656
6
1830000770288

In [20]:
#while loop
count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [7]:
count = 1
name = []
while count <= 5:
    list1 = input('')
    name.append(list1)
    count += 1
print(name)

 td
 sd
 df
 sd
 fd

<built-in method extend of list object at 0x0000023D3A214C00>

In [1]:
count = 1
name = []
for count in range(1,6):
    list1 = input('')
    name.append(list1)
    count += 1
print(name)

 tf
 d
 d
 df
 fd

['tf', 'd', 'd', 'df', 'fd']

In [9]:
num = int(input(''))
count = 1
while count <=10:
    print(f'{num} X {count}= {num*count}')
    count += 1

 6

6 X 1= 6
6 X 2= 12
6 X 3= 18
6 X 4= 24
6 X 5= 30
6 X 6= 36
6 X 7= 42
6 X 8= 48
6 X 9= 54
6 X 10= 60

In [10]:
num = int(input(''))
count = 1
while count <=10:
    print(f'{num} X {count}= {num*count}')
    count += 2

 6

6 X 1= 6
6 X 3= 18
6 X 5= 30
6 X 7= 42
6 X 9= 54

In [13]:
#control statement
list1 = []
for num in range(1,10):
    list1.append(num)
    if num == 5:
        break
    print(num)
print(list1)

1
2
3
4
[1, 2, 3, 4, 5]

In [14]:
#control statement
list1 = []
for num in range(1,10):
    list1.append(num)
    if num == 5:
        continue
    print(num)
print(list1)

1
2
3
4
6
7
8
9
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
sum = 0
for num in range(1,101):
    if num%2== 0:
        sum += num
print(sum)

2550

In [3]:
num = [1,5,7,4,9,10]
num.sort()
print(num)
print(num[-1])

[1, 4, 5, 7, 9, 10]
10

In [9]:
data = {'name': 'tejas','course':'python'}
for i in data:
    print(f'key : {i}   and value : {data[i]}')
for i in data.values():
    print({i})

key : name   and value : tejas
key : course   and value : python
{'tejas'}
{'python'}

In [12]:
for i in data.items():
    print({i})

{('name', 'tejas')}
{('course', 'python')}

In [14]:
for i in data.keys():
    print({i})

{'name'}
{'course'}

way of accessing key value in dict

In [20]:

for i in data.items():
    print(f'data : {i[0]} , key: {i[1]}')

data : name , key: tejas
data : course , key: python

In [22]:
for i,j in data.items():
    print(f'key:{i}, value:{j}')

key:name, value:tejas
key:course, value:python