In [1]:
def hello():
    print('hello')
hello()

hello

In [2]:
hello()

hello

In [4]:
def greet(name,course): #positional argument
    print(f'Hi {name}')
    print(f'your course is {course}')
greet('Tejas','Python')

Hi Tejas
your course is Python

In [10]:
def greet(name= 'Tejas',msg = 'Data Science'):   #named argument
    print(f'Hi {name}')
    print(f'your course is {msg}')
greet('Tejas')

Hi Tejas
your course is Data Science

In [8]:
def greet(name,msg = 'Data Science'):   #default argument
    print(f'Hi {name}')
    print(f'your course is {msg}')
greet('Tejas')

Hi Tejas
your course is Data Science

In [12]:
def user_login():
    username = input('enter username')
    pwd = input('enter password')
    if username == 'tejas' and pwd == '123':
        print('successful')
    else:
        print('failed')
user_login()

enter username gv
enter password df

failed

In [14]:
def area(l,w):
    area = l*w
    print(area)
area(5,6)

30

In [1]:
def area(l,w):
    area = l*w
    return area
a = area(5,6)
print(a)
print(a)

30
30

In [22]:
def volume(l,w,h):
    a = area(l,w)
    return a * h
v= volume(5,6,7)
print(v)

210

In [24]:
def demo():
    return 5,3,5,[5,46,5]
demo()

(5, 3, 5, [5, 46, 5])

In [4]:
def area(l,w):
    area = l*w
    return
a = area(5,6)
print(a)

None

In [1]:
string1 = input('')
string2 = input('')
word = string1[2:]  + string2[:2] + ' ' + string2[2:] + string1[:2]
print(word)

 abc
 xyz

cxy zab