In [4]:
#\t is use to give a tab
a = 'tejas \t pune'
print(a)

tejas 	 pune

In [5]:
#\n is to new line
a = 'tejas\n\tpune'
print(a)

tejas
	pune

In [6]:
#' is unrecognised by the interpreter
a = 'i'm tejas'
print(a)

SyntaxError: unterminated string literal (detected at line 1) (2270279888.py, line 1)

In [7]:
a = "i'm tejas"
print(a)

i'm tejas

In [10]:
a = '''hie
this is 
tejas'''
print(a)

hie
this is
tejas

In [11]:
a = "hie
this is
tejas"
print(a)

SyntaxError: unterminated string literal (detected at line 1) (4166056593.py, line 1)

In [12]:
print(len('hello'))
a = 'hiee'
c= len(a)
print(c)

5
4

In [13]:
#raw string is used to specify the path in python
print(r'this is \tejas \name ')

this is \tejas \name

In [14]:
print('this is\tejas \name')

this is	ejas
ame

In [16]:
a = r'this is \tejas \name'
print(a)

this is \tejas \name

In [28]:
#this is used to find the middle of the string
a = "hello tejass"
print(a[len(a)//2])
print(a[len(a)//2+1])

t
e

In [31]:
#print = 'h'
print('a')

TypeError: 'str' object is not callable

In [1]:
a = 5
b = a 
c = print('tejas')
print(c)

tejas
None

In [11]:
#slicing 
a = 'hello tejas'
print(a[2:6+1])
print(a[2:7])
print(a[2:7:2])
print(a[2:6-1])
'''if we give higher start and lower end index then it does not return any o/p if we want o/p then -1 is used '''
print(a[6:2:-1])
print(a[-2:-6])

llo t
llo t
lot
llo
t ol

sajet o

In [12]:
print(a[:3:-1])

sajet o

In [15]:
#to print the string in reverse order
print(a[::-1])

sajet olleh

In [17]:
a = '''hiee
tejas 
patil'''
print(a[1:15])

iee
tejas
pat

In [12]:
#concatenate of string
name = 'tejas'
college = 'SBUP'
msg = 'Hello ' + name + ' from ' + college + ' ' 
print(msg)
d = msg*2
print(d)
temp = name[0] + name[1]*5 + name[2:]
print(temp)

Hello tejas from SBUP
Hello tejas from SBUP Hello tejas from SBUP
teeeeejas

In [18]:
name = 'helLo teJas'
print(name.upper())
uname = name.upper()
print(uname)
print(uname.lower())
print(uname.capitalize())

print(uname.title())

HELLO TEJAS
HELLO TEJAS
hello tejas
Hello tejas
Hello Tejas

# NOTE: interview question
# want to print every 4 letter of the string

In [7]:
#want to print every 4th letter of the string
a = 'hello this returns the every 4th letter of the string'
print(a[0::4])
#in string 1 char should be print multiple times

hoienhv  tohtg

In [14]:
a = 'hello this returns the every 4th letter of the string'
for i in a:
    if i == 'e':
        print('e'*2 + a)

eehello this returns the every 4th letter of the string
eehello this returns the every 4th letter of the string
eehello this returns the every 4th letter of the string
eehello this returns the every 4th letter of the string
eehello this returns the every 4th letter of the string
eehello this returns the every 4th letter of the string
eehello this returns the every 4th letter of the string
eehello this returns the every 4th letter of the string

In [44]:
#positioning 

#msg = name.center(30,'-')
#print(msg)
#msg1 = name.center(4,'-')
#print(msg1)
#print(msg.rjust(100,'a'))
#print(name.rjust(30,'-'))
namee = '''\n
Ethans
'''
print(namee.center(40,'-'))

---------------

Ethans
----------------

In [52]:
name = 'ethans class'
width = 50
print('-' *width + '\n' + name.upper().center(width) + '\n' + '-' *width)

--------------------------------------------------
                   ETHANS CLASS
--------------------------------------------------

In [67]:
s = 'welcome to todays python class'
print(s.count('to'))
print(s.count('to',1,))
print(s.count('to',1,10))
print(s.lower().count('o'))

2
2
1
4

In [72]:
#index 
s = 'welcome to todays python class'
print(s.index('o'))
print(s[::-1].index('o',5))

4
7

In [82]:
s = 'this is string with is repeated'
print(s.replace('is','was'))
print(s.replace('is','was',2))
print(s[4:].replace('is','was'))

thwas was string with was repeated
thwas was string with is repeated
 was string with was repeated

In [8]:
s = '--teeeejast--'
s1 = s.strip('-')
print(s1)
print(s1.strip('et'))

teeeejast
jas

In [4]:
s = '--tejast--'
print(s.lstrip('-'))
print(s.rstrip('-'))

tejast--
--tejast

In [4]:
a = 'tejas'
print(a.count(''))

6

In [13]:
a = '-------Tejas s_--------'
print(a.lstrip('-'))

Tejas s--------

In [15]:
print(a.rstrip('_-'))

-------Tejas s

In [28]:
a = 'hie-tejas-how-are-uhh tejas'
print(a.split('-'))
print(a.split())
print(a.replace('-','_').split('-',1))
print(a.split('-',1))
print(a.rsplit('-',1))

['hie', 'tejas', 'how', 'are', 'uhh tejas']
['hie-tejas-how-are-uhh', 'tejas']
['hie_tejas_how_are_uhh tejas']
['hie', 'tejas', 'how', 'are', 'uhh tejas']
['hie-tejas-how-are', 'uhh tejas']

In [32]:
#join 
a = ['hie','tejas','pyton']
print(' '.join(a))
print('--'.join(a))

hie tejas pyton
hie--tejas--pyton